<template>
    <div class="footer">
        <div class="container-fluid fixed-bottom">
            <div class="row">
                <div class="col bg-red expand-lg d-flex justify-content-between">
                    <div class="footer-color"><img alt="Groupomania logo" src="../assets/logoblanc.png" class="logo-footer"> Groupomania - intranet</div>
                </div>
            </div>
        </div>
    </div>
 
</template>

<script>
    export default {
        name: "Footer",
    }
</script>

<style>
    .footer-color{
        color: white;
    }

    .logo-footer{
        width: 15px;
    }

    .bg-red{
        background: #cd515a
    }
</style>