
<template>
    <div class="404">
        <!-- 
        faire page div du genre 
        
        <h1>ERREUR 404</h1>
        <p>Je crois que tu est perdu...</p>
        <router-link to="/" exact>
            Reviens sur le bon chemin
        </router-link>
        -->
    </div>
</template>

<script>
// @ is an alias to /src

</script>

<style lang="scss">
  span{
    color: #cd215a;
    font-weight: bold;
  }
</style>